---
import IconNext from '~/icons/next.svg'
import Card from '../../Card.astro'
import Touchable from '../../Touchable'
---

<Touchable class="skills-cta" as="a" client:visible href="/work#skills" aria-label="View all skills">
	<Card flex="~ horz-y-center horz-x-center" gap="xs" pad="s">
		<span class="text-heading">View all</span>
		<IconNext class="icon" />
	</Card>
</Touchable>

<style>
    .skills-cta {
		display: block;
		text-decoration: none;
		color: var(--neutral-high);
		border-radius: var(--rad-sm);
		
		& .icon {
			width: 48px;
			height: 48px;
			fill: currentColor;
		}
	}
</style>