.InfoContainerWithCover {
  position: relative;
  border-radius: var(--radius-medium);
  overflow: hidden;

  & .Cover {
    background-color: var(--surface-low);
    height: 48rem;
    aspect-ratio: 1.91/1;
    object-fit: cover;
  }

  & .Wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;

    padding: var(--gap-medium);
    padding-block-start: var(--gap-insanely-large);

    background-image: linear-gradient(
      to bottom,
      transparent,
      color-mix(in srgb, var(--surface-low), transparent 5%) 75%
    );

    pointer-events: none;

    & > * {
      pointer-events: auto;
    }
  }
}
