.InfoContainerWithCover {
  position: relative;
  border-radius: var(--radius-medium);
  overflow: hidden;

  & .Cover {
    background-color: var(--surface-low);
    height: 48rem;
    aspect-ratio: 1.91/1;
    object-fit: cover;
  }

  & .Wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;

    padding: var(--gap-medium);
    padding-block-start: var(--gap-insanely-large);

    background-image: linear-gradient(
      to bottom,
      transparent,
      color-mix(in srgb, var(--surface-low), transparent 5%) 75%
    );
  }
}

.Wrapper {
  pointer-events: none;

  & :is(h1, h2, h3, h4, h5, h6, p, span) {
    pointer-events: auto;
    width: fit-content;
    margin-block-end: var(--gap-smaller) !important;
  }
}