---
import Page from '~/components/layouts/Page.astro'
import Section from '~/components/layouts/Section.astro'
---

<Page>
    <Section flex="vert x-center" title="Blog">
        <p class="text-label-large">Coming soon...</p>
    </Section>
</Page>