#content {
  max-width: 52rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--gap-very-large) var(--gap-large);
}

h1 {
  font-size: var(--text-title);
}

h2 {
  font-size: var(--text-subtitle);
}

h3 {
  font-size: var(--text-heading);
}

h4 {
  font-size: var(--text-subheading);
}

h5 {
  font-size: var(--text);
}

h6 {
  font-size: var(--text-label);
}

img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-small);
}

code {
  font-size: 0.95em; 
  padding-inline: 0.15em;
}