@import url("./theme.css");
@import url("./constants.css");
@import url("./typography.scss");

:root {
  --trans-prop-content: color, fill, stroke-color;
  --trans-props-layout: background-color, outline-color, border-color,
  box-shadow;
  view-transition-name: none;
}

// Why does this block interaction by default?
::view-transition {
  pointer-events: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none 0s;
}

:root[data-transitionable='true'] {
  view-transition-name: page;
}

::view-transition-old(page) {
  animation-delay: var(--dur-medium);
}

::view-transition-new(page) {
  animation: circle-in var(--dur-medium) cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes circle-in {
  from { clip-path: circle(0% at 50% 0%); }
  to { clip-path: circle(120% at 50% 0%); }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

p,
span,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
img,
svg {
  transition-duration: var(--dur-short);
  transition-property: var(--trans-prop-content),
  var(--trans-props-layout);
  z-index: var(--layer-content);
}

body,
div,
section,
nav,
footer,
main {
  transition-duration: var(--dur-short);
  transition-property: var(--trans-props-layout);
}


img,
svg {
	position: relative;
}

:root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  scroll-behavior: smooth;
  accent-color: var(--primary);
  background: var(--bg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  transition-property: --bg-1, --bg-2;
  transition-duration: var(--dur-xshort);
}

::selection {
  background-color: var(--tinted-high);
  color: var(--on-tinted);
}

body {
  position: relative;
  scroll-behavior: inherit;
  scrollbar-gutter: stable both-edges;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

button,
input,
a {
  border: none;
  color: inherit;
  font: inherit;
}

a {
  color: var(--tinted-high);

  &:hover {
    color: var(--primary)
  }
}

input,
button {
  font-size: var(--text-label);
}

hr {
  width: 100%;
  border-radius: var(--rad-full);
  border: var(--line) var(--surface-medium);
  margin-block: var(--gap-xl);
}

// Disabling animations for users who prefer reduced motion
// or in print mode (why would you print my website)
@media (prefers-reduced-motion: reduce), print {
  * {
    scroll-behavior: auto !important;
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }

  :root {
    scroll-behavior: auto !important;
  }
}

// Focused elements will have a 2px outline with a bright color
:where(:is(button, a):not(:focus-visible)) {
  outline: var(--line) transparent;
}

:focus-visible {
  outline: var(--line) var(--secondary) !important;
  outline-offset: -2px;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}