.GradientText {
  @media not (prefers-contrast: more) {
    font-weight: var(--weight-bolder);
    color: var(--neutral-highest);
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
}

.DirectTextChildrenAlignCenter {
  & > * {
    text-align: center;
  }
}
