---
import '../../styles/base.scss'

import { ClientRouter } from 'astro:transitions'
import { NAV_LINKS, NAV_PAGES } from '../../data/nav'
import NavDock from '../navigation/NavDock'

const { title, flex, ...rest } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />	
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} • Pasuthorn Buala (Palm)` : 'Pasuthorn Buala (Palm)'}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.bunny.net/css?family=inter:600,700|jetbrains-mono:400|outfit:600,700&display=swap" />
		<ClientRouter fallback="swap" />
	</head>
	<body>
		<NavDock transition:persist client:load pages={NAV_PAGES} links={NAV_LINKS} />
		<main flex={`~ vert vert-x-center ${flex ?? ''}`} {...rest}>
			<slot />
		</main>
	</body>
</html>
