.container {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: var(--layer-nav);
	pointer-events: none;
}

:global(body) {
	/* Estimated height + padding */
    scroll-padding: 64px;
}

.dock {
	view-transition-name: nav;

	max-width: 100vw;
	max-width: 100dvw;
	position: sticky;
	top: var(--gap-m);
	margin-block: var(--gap-m);
	overflow-x: auto;
	pointer-events: auto;

	padding: var(--gap-xs);
	border-radius: var(--rad-full);

	outline: var(--line) transparent;

	transition: var(--dur-short);
	transition-property: background-color, outline-color;

	&[data-scrolled="true"] {
		background-color: var(--surface-medium);
		outline-color: var(--surface-medium);
		
		-webkit-backdrop-filter: blur(var(--gap-xl));
		backdrop-filter: blur(var(--gap-xl));
	}

	// Experimental design...
	// Honestly, I think I should just design a proper mobile nav
	// @media (max-width: calc(breakpoints.$tablet - 128px)) {
	// 	& nav a.activeLink span[class*="text-"] {
	// 		display: none;
	// 	}
	// }
}

.highlight {
	position: absolute;
	
	width: 0px;
	height: 0px;
	
	top: 50%;
	left: 50%;
	
	-webkit-backdrop-filter: blur(var(--gap-xl));
	backdrop-filter: blur(var(--gap-xl));
	background-color: var(--surface-highest);
	outline: var(--line-thin) var(--surface-highest);
	outline-offset: -1px;
	border-radius: var(--rad-full);

	transition: all var(--dur-medium) var(--ease-bounce);
	transition-delay: var(--dur-xshort);
}

.linkButton {
	width: 100%;
	height: 100%;
	padding: var(--gap-s);
	--icon-size: 24px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Active links already have the highlight, they don't need to show hover effects */
.activeLink:hover {
	background-color: transparent !important;
}