---
import Avatar from '~/components/Avatar.astro'
import Contacts from '~/components/Contacts.astro'
import LineOfWork from '~/components/LineOfWork.astro'
import Page from '~/components/layouts/Page.astro'
import Section from '~/components/layouts/Section.astro'
---

<Page>
    <Section flex="vert x-center">
        <Avatar />
        <Contacts align="center" />
    </Section>
    <Section title="About me">
        <p>
            I'm <span class="tint-high">Pasuthorn Buala</span> (or <span class="tint-high">Palm</span>), a 17-year-old <span class="tint-high">full-stack developer</span> and <span class="tint-high">UI/UX designer</span> from <span class="tint-high">Bangkok, Thailand</span>. I have been making websites and applications for <span class="tint-high">more than 4 years</span>!
            <br>
            <br>
            Started programming at 11, and designing at 12. Still loving both to this day!
        </p>
        <LineOfWork detailed />
    </Section>
</Page>

<style>
    section {
        max-width: 720px;
    }

    .tint-high {
        color: var(--tinted-high);
    }
</style>