---
import './_styles/work.scss'

import Page from '../components/layouts/Page.astro'
import Section from '../components/Section.astro'
import SkillItem from '../components/SkillItem.astro'
import { SKILLS } from '../data/skills'
---

<Page>
    <Section title="Skills" description="These are the technologies I’ve used." id="skills">
        <div class="skills-grid">
            {SKILLS.map(({ name, icon, iconLight, variant }) => (
                <li>
                    <SkillItem {name} {icon} {iconLight} {variant} />
                </li>
            ))}
        </div>
    </Section>
    <Section title="Projects" id="projects">
        TODO
    </Section>
    <Section title="Experience" id="experience">
        TODO
    </Section>
    <Section title="Certifications" id="certifications">
        TODO
    </Section>
</Page>

<style>
    section {
        max-width: 720px;
    }

    section#skills {
        width: 100%;
    }

    section#experience, section#certifications {
        max-width: 1080px;
    }

    .skills-grid {
        padding: 0;
        margin: 0;
        list-style: none;

        display: grid;
        gap: var(--gap-xs);
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
</style>