---
import { SOCIALS } from '~/data/socials'
import IconKey from '~/icons/key.svg?component-solid'
import { LinkButton } from './buttons/Button'
import { LinkIconButton } from './buttons/IconButton'

const { align = 'start', ...props } = Astro.props
---

<div flex={`vert ${align === 'start' ? 'x-start' : 'x-center'}`} gap="xs" {...props}>
    <div flex="" gap="xs">
        {Object.values(SOCIALS).map(({ name, icon, url }) => (
            <LinkIconButton
                client:visible
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={name}
                icon={icon}
                size="m"
                variant="glass"
            />
        ))}
    </div>
    <LinkButton client:visible variant="glass" icon={IconKey} href="/public_key.gpg" text="GPG key" />
</div>