// NavRail

// TODO: Exit animation
.NavRailSkipNavButton {
    position: absolute;
    top: -1000px;

    &:focus-visible {
        top: 0;
        position: initial;
        transform: none !important;
        padding: 0.75rem;
        font-size: 0.9rem;
        font-weight: 800;
    }
}

.NavRailTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.NavRailTop > hr {
    width: 4rem;
    border: var(--divider) 2px solid;
    border-radius: 1rem;
}

// Page

.Content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContentWrapper {
    align-items: stretch;
}

.Section {
    align-items: center;
    display: flex;
    max-width: 80rem;
    margin-inline: 4rem;
    padding-block: 4rem;
    gap: 4rem;

    @media (max-width: 47rem) {
        & .SectionTextContent {
            align-items: flex-start;
            & > * {
                text-align: start;
                text-wrap: initial;
            }
        }
    }
}

.SectionContent {   
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SectionImage {
    width: 16rem;
    height: auto;
}

.LargeSection {
    padding-block-start: max(10vh, 8rem);
    padding-block-end: max(12.5vh, 12rem);

    & .SectionTextContent {
        align-items: flex-start;
        & > * {
            text-align: start;
            text-wrap: balance;
        }
    }
}

.SectionTextContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.25rem;

    & > * {
        text-align: center;
    }
}

.SectionButtons {   
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 55rem) {
    .Section {
        // TODO: Fix this maybe?
        flex-direction: column-reverse !important;
        align-items: start;
        gap: 1rem;
    }

    .SectionImage {
        width: auto;
        height: 16rem;
    }
}