@use "../styles/queries";

:global(main) {
  @media not (prefers-reduced-motion: reduce) {
    animation: slideFadeIn var(--duration-medium) var(--easing);
  }
}

.Content {
  width: 100%;
  // TODO: Put these as a constant?
  max-width: 44rem;
  padding: var(--gap-very-large);

  // Mobile will have larger padding so it isn't as close to screen edges
  @media (max-width: queries.$mw-mobile) {
    padding: var(--gap-large);
  }

  align-items: stretch;
}

.Section {
  // TODO: Put these as a constant?
  padding-block: min(4vh, var(--gap-very-large));
}

.FH-Row,
.FH-Col {
  display: flex;
}

.FH-Col {
  flex-direction: column;
}

.FH-FW {
  flex-wrap: wrap;
}

.FH-FF {
  flex: 1;
}

.FH-JC {
  justify-content: center;
}

.FH-AC {
  align-items: center;
}

.G-xs {
  gap: var(--gap-smaller);
}

.G-sm {
  gap: var(--gap-small);
}

.G-md {
  gap: var(--gap-medium);
}

.G-lg {
  gap: var(--gap-large);
}

.G-xl {
  gap: var(--gap-larger);
}

.G-xxl {
  gap: var(--gap-very-large);
}

.G-xxxl {
  gap: var(--gap-insanely-large);
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    // TODO: Put this as a constant?
    transform: translateY(4rem);
  }
}
