@use "../styles/queries";

@media (max-width: queries.$mw-mobile) {
  .Card .InfoContainer {
    padding: var(--gap-medium);

    & p {
      text-wrap: balance;
    }
  }
}

.ImageContainer {
  width: 100%;
  padding: var(--gap-large);
  background-color: var(--surface-medium);
  border-radius: var(--radius-larger);
  transition: inherit;
  transition-property: background-color;
  
  & > img {
    transition: transform var(--duration-long) var(--easing);
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    
    // @media (max-width: queries.$mw-mobile) {
    //   width: 6rem;
    //   height: 6rem;
    // }
  }
    
  :where(:hover, :focus-visible) > & {
    background-color: var(--surface-high);
    & > img {
      transform: scale(var(--interaction-zoomable-content-scale));
    }
  }
  
  .Card:active & > img {
    transform: scale(1.075);
  }
}

.Card {
  & p {
    white-space: pre-wrap;
  }
}

.Hint {
  color: var(--primary);
  font-weight: var(--weight-label);
  font-size: var(--text-label);

  & > svg {
    width: 1rem;
    height: 1rem;
  }
}
