@use "../styles/queries";

.Card {
  width: 100%;
  height: 100%;

  background-color: var(--surface-low);
  outline: var(--line-style) var(--surface-medium);
  border-radius: var(--radius-larger);
  align-items: center;
  text-decoration: none;

  transition: transform var(--duration-longer) var(--easing);

  &:where(:hover, :focus-visible) {
    background-color: var(--surface-medium);
    outline-color: var(--surface-high);
  }
}

.InfoContainer {
  width: 100%;
  padding: var(--gap-large);
  justify-content: space-between;

  font-size: 0.9em;

  & p {
    margin: 0;
  }

  @media (max-width: queries.$mw-mobile) {
    padding: var(--gap-medium);

    & p {
      text-wrap: balance;
    }
  }
}

.ImageContainer {
  width: 100%;
  padding: var(--gap-large);
  background-color: var(--surface-medium);
  border-radius: var(--radius-larger);
  transition: inherit;
  transition-property: background-color;

  & > img {
    transition: inherit;
    transition-property: transform;
    width: 8rem;
    height: 8rem;
    object-fit: contain;

    // @media (max-width: queries.$mw-mobile) {
    //   width: 6rem;
    //   height: 6rem;
    // }
  }

  .Card:where(:hover, :focus-visible) & {
    background-color: var(--surface-high);
    & > img {
      transform: scale(1.125);
    }
  }

  .Card:active & > img {
    transform: scale(1.075);
  }
}

.Hint {
  color: var(--primary);
  font-weight: var(--weight-label);
  font-size: var(--text-label);

  & > svg {
    width: 1rem;
    height: 1rem
  }
}
