---
import Card from './Card.astro'

const { name, icon } = Astro.props
---

<li title={name} aria-label={name}>
    <Card flex="~ horz-y-center horz-x-center" pad="s" {...Astro.props}>
        <img aria-hidden="true" src={icon} alt={`${name} logo`} class="icon" />
    </Card>
</li>

<style>
    .icon {
        width: 48px;
        height: 48px;
        object-fit: contain;
    }
</style>
    