---
import { SOCIALS } from '../data/socials'
import { LinkIconButton } from './IconButton'
---

<div flex gap="xs">
    {Object.values(SOCIALS).map(({ name, icon, url }) => (
        <LinkIconButton
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={name}
            icon={icon}
            size="m"
            variant="glass"
        />
    ))}
</div>