.GradientText {
    font-weight: 800;
    color: black;
    background: linear-gradient(230deg, #4FEAA9 10.89%, #57B7D9 60.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}