.Page {
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.StackContainer {
	padding: 1rem;
	display: flex;
	position: relative;
	background-color: var(--surface-medium);
	border-radius: var(--radius-medium);

	& > .Stack {
		flex: 1;
		white-space: pre-wrap;
	}

	& > .CopyButton {
		top: 0;
		position: sticky;
		height: fit-content;
	}

	code {
		width: 100%;
		overflow-x: scroll;
	}
}
